body{

}

/* navbar content */
li{
padding-left: 20px;
}
.navbar{
  width:25%;

}
/* title & p  */
.name{
  font-weight: bold;
/*   padding-left: 9%; */
  font-family: Josefin Sans;
}

.subp{

  font-family: Josefin Sans;
/*   padding-left: 10%; */
}
.con{
  background-color: #C9E4C5;

}

/* col for top p */


img{
padding-left: 30px;
  width:100%;
  background-color: #C9E4C5;
}


.overview{
text-align: center;
padding-top: 5%;
font-family: 'Patrick Hand';
font-size: 1.5rem;
}
hr{
  width:10%;
  /* background-color:  */
  margin: 4% auto;

}
@media screen and (max-width: 400px) {
.homeinfo{
font-size:2rem;
}
}
h4{
  font-family: Josefin Sans;
  /* padding-left: 12%; */

}
