body{

}

/* navbar content */
li{
padding-left: 20px;
}
.navbar{
  width:25%;
  margin: auto;
  background-color: #C9E4C5;
}
/* title & p  */
.name{
  font-weight: bold;
  padding-left: 9%;
  font-family: Josefin Sans;
}
h4{
  font-family: Josefin Sans;
  padding-left: 12%;

}
.subp{

  font-family: Josefin Sans;
  padding-left: 10%;
}
.con1{
  background-color: #C9E4C5;

}
.con2{
  background-color: #C9E4C5;

}
/* col for top p */
.overcol{
padding-top: 8%;
}

img{
padding-left: 30px;
  width:100%;
  background-color: #C9E4C5;
}


.overview{
text-align: center;
padding-top: 5%;
font-family: 'Patrick Hand';
font-size: 1.3rem;
}
hr{
  width:10%;
  /* background-color:  */
  margin: 4% auto;

}
